.env
.venv
env/
../venv/
ENV/
env.bak/
venv.bak/

.DS_Store
.vscode/*
final_project/.idea/

env
venv
.idea
db.sqlite3

**/migrations/
/migrations/
*.pyc
__pycache__/
config/__pycache__/
courses/__pycache__/
student_requests/__pycache__/